.meal_container{
    display: flex;
    justify-content: center;
}
.meal_box{
    background-color: #ffffff;
    width: 900px;
    padding: 20px;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.res_name{
    font-weight: bold;
}
.res_menu{
    font-style: italic;
}
.res_price{
    color: rgb(147, 71, 16);
    font-weight: bold;
}
.res_box{
    display: flex;
    justify-content: space-between;
}
.res_amount{
    display: flex;
    gap: 10px;
}
.input_box{
    display: flex;
    gap: 10px;
    font-size: large;
}
.inp_btn{
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    font-size: x-large;
    font-weight: bold;
}
.res_add_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add_btn{
    color: #ffffff;
    background-color: rgb(117, 32, 8);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
}